html{
	font-family: 'Signika','Comic Sans MS','PT Sans','Eras Light ITC',Helvetica,Arial,sans-serif;
}

body{
	margin: 0px;
	background: #FFF;
}

#gamearea{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

header{
	padding: 0px;
	margin: auto;
	width:100%;
}

#next {
	background: #cfe6df;
	border-radius: 0 0 25px 25px;
	width: 80px;
	height: 113px;
	margin: auto;
	text-align: center;
}

#nexticon{
	width:39px;
	height: 51px;
	margin: auto;
	top: 11px;
	position: relative;
	border-radius: 9px;
}

.tiptext{
	font-size: 25px;
	font-weight: bold;
	position: relative;
	top: 14px;
}

.grid{
	background: #bbd9d9;
	float: left;
	border-radius: 5px;
	position: absolute;
}

#container{
	margin: auto;
	margin-top: 30px;
	background: #cfe6df;
	border-radius: 24px;
	border-top: 8px solid #bbd9d9;
	position: relative;
}

.gridnum{
	position: absolute;
	border-radius: 10px;
	text-align: center;
	line-height: 3em;
}

#plusicon{
	position: relative;
	font-size: 47px;
	top: -44px;
	visibility: hidden;
}

#score{
	font-size: 29px;
}
